html{
    box-sizing: border-box;
}

*,* ::after,* ::before{
    box-sizing: inherit;
    }

:root{
--blue:#162E25;
--dark:#287A70;
--gold:#7A6D31;      /* Now we can use then in the form of variables anywhere */
--purple:#7A577A;
--teel:#1E232E;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--teel);
    color: white;
}
nav{
    height: 100px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 5px;
    background-color: var(--dark);
    margin-top: 0;
    height: 75px;
    padding: 30px;
}

nav li:first-child{
     flex-grow: 1; /* All the remaining space is given to first element*/
     font-style: italic;

    }

nav a{
    font-size: 1.0rem;
    text-decoration-line: none;
}
.button{
    background-color: orangered;
    border-radius: 0.2rem;
    padding: 0.20rem;
    color: white;
}

nav a:hover{
    background:  radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-decoration-line:underline;
}
.Intro1{
margin-left: 15px;
margin-bottom: 10px;
margin-top: 5px;
}
.Intro2{
    margin-left : 15px;
}
.Intro3{
    margin-left: 15px;
}
#p{
    margin-top: 5px;
}
#t{
    margin-top: 5px;
}
.MyProjects1 li{
padding: 5px;
}
.Intro3{
margin-bottom: 30px;
}
#section1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.MyProjects{
margin-left: 10px;
border: solid rebeccapurple 2px;
width: 400px;
border-radius: 12px;
}
.skills{
    margin-left: 10px;
    border: solid rebeccapurple ;
    width: 400px;
    border-radius: 12px;
    }
    .skills1 li{
        padding: 5px;
        }
 
.Hire{
    background-color: var(--gold);
}
#Hire1{
    background-color: var(--gold);
text-align: center;
width: 400px;
margin: 0 auto; /* here 0 means top 0 and auto means right left will be equally spaced nothing but this context comes in middle*/
padding: 3rem 0;
}

#Hire1 p{
    margin-top: 15px;
}
