.hmtl{
    box-sizing: border-box;
    }
    
    *,*::after,* ::before{
        box-sizing: inherit;
    }

  body{
    overflow: hidden;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/014/968/790/large/mario-campello-fundo-espaco.jpg?1546528744");
  }

#svgCoin{
    width: 45px;
    height: 56px;
}

#score{
    color: white;
    margin-right: 15px;
    font-size: 35px;
}

#explosion{
display: none;
}

#boom{
    height:55px;
    width: 55px;
    position: absolute;
}

.space-shooter{
    overflow: hidden;
    width: 100%;
    height:95vh;
}

.shooter{
    width: 80px;
    height: 105px;
    position: absolute;
}

.alien{
    position:absolute;
    top:-10%;
}

#layer-1{
    width: 80px;
    height: 80px;
} 

.bullets{
    position: absolute;
    width: min-content;
    z-index: -1;
}

.bullets svg{
    fill: #93C7EF;
    width: 65px;
    height: 65px;
}

.missile{
    position: absolute;
    fill: #93C7EF;
    width: min-content;
    z-index: -1;
}

